**/.DS_Store
**/.nosync
.vscode/*.VC.db
.vscode/c_cpp_properties.json
.vscode/**/*.bin
.vscode/**/*.ipch
.vscode/ipch/*
.vs/*
CMakeCache.txt
cmake_install.cmake
Makefile
*.log
bin/
build/
build_win64/
xcode_build/
build_xcode/
CMakeFiles/
DerivedData/
res/editor_config.json
res/editor_imgui.ini
*~
