**/.DS_Store
**/.nosync
.vscode/*.VC.db
.vscode/c_cpp_properties.json
.vscode/**/*.bin
.vscode/**/*.ipch
.vscode/ipch/*
CMakeCache.txt
cmake_install.cmake
Makefile
left_game.log
right_game.log
game_log.log
bin/
build/
xcode_build/
CMakeFiles/
DerivedData/
res/editor_config.json
res/editor_imgui.ini
*~
