
language: cpp
sudo: required
dist: trusty

install:
  # Steps copied from the rust-sdl2 project.
  - wget https://www.libsdl.org/release/SDL2-2.0.10.tar.gz -O sdl2.tar.gz
  - tar xzf sdl2.tar.gz
  - pushd SDL2-2.0.10 && ./configure && make && sudo make install && popd

  # Install a supported cmake version (>= 3.12)
  - wget -O cmake.sh https://cmake.org/files/v3.12/cmake-3.12.0-Linux-x86_64.sh
  - sudo sh cmake.sh --skip-license --exclude-subdir --prefix=/usr/local

matrix:
  include:

  - os: linux
    compiler: gcc
    env: COMPILER=g++-7
    addons:
      apt:
        sources: 
          - ubuntu-toolchain-r-test
          - llvm-toolchain-trusty-5.0
        packages:
          - g++-7
          - clang-5.0
          - libopenal-dev

  - os: linux
    compiler: clang
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
          - llvm-toolchain-trusty-5.0
        packages:
          - g++-7
          - clang-5.0
          - libopenal-dev

# Disabled until Travis CI supports newer xcode images, im using std::any and it is not fully supported yet. 
#  - os: osx
#    compiler: clang
#    osx_image: xcode10.1

script:

  - cmake -DCMAKE_CXX_COMPILER=$COMPILER . && make
